{{ define "title" }}
{{ .Params.bookname }} | {{ .Site.Title }}
{{ end }}

{{/* 书籍主页 */}}
{{define "main"}}
<link rel="stylesheet" href={{"css/style-book.css"| relURL}} />
<script src={{"js/book.js"| relURL}}></script>
<!--路径导航栏-->
<div class="path-nav">
	<a class="home-path" href="\">首页</a><span class="path-nav-arrow"></span><a class="book-path"
		href="{{.Permalink }}">{{
		.Title }}</a>
</div>

<!-- 书籍主页主体区 -->
<div class="book-home">

	<!--左侧边栏区(目录区)-->
	<div class="tocs">
		<!-- 目录条目列表 -->
		<div class="toc-list">
			<!-- 书籍简介链接 -->
			<a href="#book-intro" class="toc-link section-1" data-url="{{ .Permalink }}" data-type="book">
				前言
			</a>

			<!-- 各章节链接 -->
			<!--将$page定义为当前书籍主页-->
			{{ $page := . }}
			<!--遍历书籍主页的chapters项的数组-->
			<!--用$chaptername表示当前项，也就是单个章的目录名称-->
			<!--声明underchapternumber计数器，计数器从零开始-->
			{{ range $underchapternumber,$chaptername :=.Params.chapters }}
			{{ $chapternumber := add $underchapternumber 1}}
			<!--获取当前章对象，并将当前章对象绑定为.-->
			{{ with $page.GetPage . }}
			<!-- 将$thechapte定义为当前章对象-->
			{{ $thechapter := . }}
			<!--遍历章标题-->
			{{ range .Fragments.Headings }}
			<a href="{{ relref $thechapter $chaptername }}#{{ .ID }}" class="chapter toc-link">
				<span>第{{ $chapternumber }}章</span> {{ .Title }}
			</a>
			<!--遍历二级标题section-->
			<div class="sections-container">
				{{ range $undersectionnumber, $sectionname :=.Headings }}
				{{ $sectionnumber:=add $undersectionnumber 1}}
				<a href="{{ relref $thechapter $chaptername }}#{{ .ID }}" class="section toc-link">{{ $chapternumber
					}}.{{ $sectionnumber }} {{
					.Title }}</a>
				<!--遍历三级标题subsection-->
				{{ range $undersubsectionnumber, $subsectionname :=.Headings }}
				{{ $subsectionnumber := add $undersubsectionnumber 1 }}
				<a href="{{ relref $thechapter $chaptername }}#{{ .ID }}" class="subsection toc-link">{{ $chapternumber
					}}.{{ $sectionnumber }}.{{
					$subsectionnumber }} {{ .Title }}</a>
				{{ end }}
				{{ end }}
			</div>
			{{ end }}
			{{ end }}
			{{ end }}
		</div>
	</div>
	{{/* 正文区 */}}
	<article class="book-content">
		<div id="book-intro">
			<div class="book-description">
				{{ .Content }}
			</div>
		</div>

		{{/* 动态加载容器 */}}
		<div id="chapter-container"></div>
	</article>
	<aside>
		aside content
	</aside>
</div>
{{end}}
