{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "main" }}
<style>
    .book-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        min-height: 80vh;
    }
</style>
{{/* 文档元数据 */}}
<div>
    {{/* article.book-content */}}
    <article class="book-content">
        <div>
            <h1 class="book-title"> <a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            {{ if .Date }}
            <time datetime="{{ .Date.Format " 2006-01-02" }}">{{ .Date.Format "2006年1月2日" }}</time>
            {{ end }}
        </div>
        {{/* md文件内容 */}}
        <div class="chapter-content">
            {{ .Content }}
        </div>
    </article>
</div>
{{ end }}