header nav a {
    color: inherit;
    text-decoration: none;
}

.site-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    /* 阴影效果 */
    transition: box-shadow 0.3s ease;
    /* 添加过渡效果使变化更平滑 */
    z-index: 1000;
    /* 确保在最上层 */
    font-family: "Noto Serif SC", "Source Han Serif SC", "Songti SC", serif;
}

/* 主导航栏 */
.left-header {
    display: flex;
    align-items: center;
}

/* 导航栏的头像和作者 */
.author-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
}


#logo {
    height: 35px;
    border-style: double;
}

/* 名字 */
#author {
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
}


/* 左侧每个菜单项的盒子 */
.menus-left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 700;
}

.menus-left-div:hover {
    background-color: rgb(235, 233, 229);
    border-radius: 8px;
}

/* 左侧菜单图标 */
.menus-left-icons {
    height: 24px;
}

.home-menus-left {
    font-size: 16px;
    margin: 0px;
}

/* 右侧导航 */
.right_header {
    display: inline-flex;
    align-items: center;
    padding-right: 10px;
}

.home-menus-right {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    font-weight: 700;
}