<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " zh-cn" }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{"css/style_baseof.css" | relURL}}">
</head>

<body>
    <!-- 导入页头 -->
    {{ partial "header.html" . }}

    <!-- 主要内容区域，由其他模板填充 -->
    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <!-- 导入页脚 -->
    {{ partial "footer.html" . }}
</body>

</html>