{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="home-context">
    <h1 class="young">年轻人,<br />
        你渴望力量吗?
    </h1>

    <img src="/icons/home-right.png" class="home-right">

</div>
<div class="books">
    <div class="booktypes">
        <p class="mathbooks">
            <img src="/icons/mathbooks.png"> <span>数学</span>
        </p>

        <p class="computerbooks">
            <img src="/icons/computerbooks.png"> <span>计算机</span>
        </p>
    </div>


    {{range site.Menus.math}}

    {{.Name}}

    {{end}}
</div>

<!-- .Content 会渲染 content/_index.md 文件中的Markdown内容 -->

{{ .Content }}

{{ end }}