/* 1. 基础与排版 */
:root {
    --color-bg: #fefcf9;
    /* 背景色 */
    --color-text: #2c3e50;
    /* 正文色 */
    --color-primary: #3498db;
    /* 主色调（链接等） */
    --color-border: #eaecef;
    /* 边框色 */
    --width-content: 700px;
    /* 内容区最大宽度 */
    --font-sans: "Noto Serif SC", "Source Han Serif SC", "Songti SC", serif;
}

body {
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 15px;
    /* 基础字号 */
    line-height: 1.7;
    /* 行高 */
    color: var(--color-text);
    background-color: var(--color-bg);
    margin: 0;
}

header nav a {
    color: inherit;
    text-decoration: none;
}

.site-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    /* 阴影效果 */
    transition: box-shadow 0.3s ease;
    /* 添加过渡效果使变化更平滑 */
    z-index: 1000;
    /* 确保在最上层 */
    font-family: "Noto Serif SC", "Source Han Serif SC", "Songti SC", serif;
}

.left-header {
    display: inline-flex;
    align-items: center;
}

/* 导航栏的头像和作者 */
.author-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* 头像框 */
#logo {
    height: 38px;
    border-style: double;
}

/* 名字 */
#author {
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
}


/* 左侧每个菜单项的盒子 */
.menus-left-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 600;
}

/* 左侧菜单图标 */
.menus-left-icons {
    height: 20px;
}

/* 右侧导航 */
.right_header {
    display: inline-flex;
    align-items: center;
    padding-right: 10px;
}

.home-menus-right {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
}

/* 主页大标题和图片 */
.home-context {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 10px;
}

.home-left {
    display: flex;
    width: 600px;
    flex: 1, 1, 600px;
}

#young {
    font-size: 40px;
}

.home-right {
    display: inline-flex;
    align-items: center;
    width: 800px;
    flex: 1, 1, 500px;
}

#home-right {
    max-width: 100%;
}



/* main,main *{
    border-style: dashed;
} */

/* 7. 响应式：在手机上调整 */
@media (max-width: 768px) {
    body {
        font-size: 15px;
    }

    main,
    article {
        font-size: 15px;
    }
}