/* 主页大标题和图片 */
.home-context {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-color);
}

/* 主页标题字 */
.young {
    width: 600px;
    flex: 1, 1, 500px;
    font-size: 40px;
}

/* 主页大图 */
.home-right {
    width: 800px;
    flex: 1, 1, 500px;
}

/* 书籍阵列总框 */
div.display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 500px;
}

/* 科目栏 */
.subjects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--border-color);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-color);
}

/* 单个科目导航按钮 */
.subject {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 15px;
    padding-left: 30px;
    font-family: var(--font-sans);
    font-size: 22px;
    font-weight: 600;
    margin: 8px;
}

/* 科目导航logo */
.subject img {
    height: 100%;
    padding-right: 8px;
}

/* 数学logo微调 */
#math img {
    height: 90%;
    padding-right: 10px;
}

/* 认算机logo微调 */
#computer img {
    height: 80%;
    padding-right: 10px;
}

/* 激活的科目导航按钮 */
.subject.active {
    background-color: var(--active-bgcolor);
    border-radius: 8px;
}

/* 悬停时科目导航按钮 */
.subject:hover {
    background-color: var(--active-bgcolor);
    border-radius: 8px;
    /* transform: scale(0.98); */
}

/* 点击时科目导航按钮 */
.subject:active {
    transform: scale(0.98);
}

/* 下方导航栏 */
/* .allbooks {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
min-height: 500px;
} */

/* 陈列栏 */

.books {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 40px;
}

.allbooks {
    display: none;
}

.allbooks.active {
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
    width: 280px;
    height: 250px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: var(--border-color);
    margin: 20px;
    margin-top: 30px;
    padding: 48px;
    padding-top: 35px;
    padding-bottom: 35px;
}

a.allbooks:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.bookname {
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 22px;
    font-weight: 600;
}

/* 书籍卡中的描述 */
.book-describe {
    height: 120px;
    font-size: 16px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-color);
    margin-top: 16px;
    margin-bottom: 16px;
}

/* 书籍卡的元数据 */
.book-meta {
    display: flex;
    height: 25px;
    justify-content: space-between;
    align-items: center;
}

/* 标签样式 */
.finish {
    display: inline-block;
    padding: 4px 8px;
    margin: 4px 8px 4px 8px;
    background-color: var(--tag-bacolor);
    color: #333;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease;
}
